@import '~/node_modules/bootstrap/scss/bootstrap.scss';

/* #region Commons */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

#app {
    font-family: "DM Serif Display";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* #endregion Commons */

/* #region Utilities */
.w_10 {
    width: 10%;
}
.w_15 {
    width: 15%;
}
.w_20 {
    width: 20%;
}

.w_30 {
    width: 30%;
}
.w_35 {
    width: 35%;
}

.w_40 {
    width: 40%;
}

.w_60 {
    width: 60%;
}

.w_70 {
    width: 70%;
}

.w_80 {
    width: 80%;
}

.pt_4rem {
    padding-top: 4rem;
}

.pb_4rem {
    padding-bottom: 4rem
}


.pt_5rem {
    padding-top: 5rem;
}

.pb_5rem {
    padding-bottom: 5rem
}

.p_2rem {
    padding: 2rem;
}

/* #endregion Utilities */