/* Colors */

$author-text-saffron : #f3b329;
$author-text-suva_gray : #868586;
$author-text-tundora : #434343;
$author-text-black : #030303;
$author-text-white : #ffffff;
$author-btn-keppel : #3da698;
$author-btn-anzac : #e1aa40;
$author-btn-pumice : #bec6be;